<div th:fragment="data-table">
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Últimas atualizações</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
          <th>Quantidade</th>
          <th>Data</th>
          <th>Hora</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody id="dataTableTBody">
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>